
<div style="width:100%; background:#e7e7e7"
<footer class="site-footer">

  <div class="wrapper">


    <div class="footer-col-wrapper">
      <div class="footer-col footer-col-1">
        <h2 class="footer-heading">Dr. Jason Bakos</h2>
        <ul class="contact-list">
          <li>Office:&nbsp;&nbsp; Swearingen 3A45</li>
          <li>Phone:&nbsp;  803-777-8627</li>
          <li>Email:&nbsp;&nbsp;  <a href="mailto:{{ site.email }}">{{ site.email }}</a></li>
        </ul>
      </div>

      <div align="right" class="footer-col footer-col-2">
        <img width="250px" src="/images/usc.png">
        <p>College of Engineering and Computing</p>
      </div>
    </div>
  </div>

  <!-- if you delete these lines, it will break your bootstrap navigation-->
  <script src="{{ site.baseurl }}/js/jquery.min.js"></script>
  <script src="{{ site.baseurl }}/js/bootstrap.min.js"></script>
</footer>
</div>
