---
layout: page
title: Projects
heading: Current Projects
permalink: /projects/
order: 2
type: top-level
---



{% for p in site.data.projects %}
  <div class="project_block">
    <div class="project_header">
      <div class="project_funder">
        <img src="/images/{{p.image}}" class="project_funder">
      </div>
      <div class="project_title">
        {% if p.link != "" %}<a href="https://www.nsf.gov/awardsearch/showAward?AWD_ID=1421059">{% endif %}
        <h4>{{ p.title }}</h4>
        {% if p.link  != "" %}</a>{% endif %}
      </div>
    </div>
    {{ p.description }}
  </div>
{% endfor %}

