---
layout: page
title: Publications
heading: Published Works
permalink: /publications/
order: 1
type: top-level
---
<table class="publications">

{% for p in site.data.publications %}
  {% if p.year != last_year %}
    {% assign last_year = p.year %}
    <tr style="border-bottom:1px solid #333"><td colspan="2" class="year"><h3>{{last_year}}<h3></td></tr>
  {% endif %}


  <tr><td colspan="2" class="pub-title" style="Font-family:Garamond; padding-top:20px"><i>{{p.title}}</i></td></tr>
  <tr>
    <td class="pub-label">publication:</td>
    <td class="source">{{p.source}}</td>
  </tr>
  <tr>
    <td class="pub-label">authors:</td>
    <td class="authors">{{p.authors}}</td>
  </tr>
  {% if p.download != "" %}
    <tr>
      <td class="pub-label">document:</td>
      <td colspan="2" class="download"> [
        <a target="_blank" href="/papers/{{p.download}}" title="View PDF">
          <img style="text-decoration:none" class="pub-pdf" src="/images/pdf_icon.gif" alt="PDF Document">View the PDF</a>
      ] </td>
    </tr>
  {% endif %}
  <tr><td><br><br></td><tr/>
{% endfor %}
</table>

